@import "tailwindcss";

@theme {
  --color-primary: #0F172A;
  --color-secondary: #D1C7BD;
  --color-accent: #C7A14A;
  --color-background: #F9FAFB;
  --color-surface: #FFFFFF;

  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
}

:root {
  font-family: var(--font-sans);
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-primary);
  background-color: var(--color-background);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
}

button {
  cursor: pointer;
}